<section>
    <div class="slideshow">
        <div class="overlayVol">
            <color-directive class="vol"></color-directive>
        </div>
    </div>
</section>
<section class=items-container>
    <div class="item"></div>

    
    <div class="item words">
        <p class="para">Although volcanoes are all made from hot magma reaching the surface of the Earth and erupting, there are different
            kinds. Shield volcanoes have lava flows with low viscosity that flow dozens of kilometers; this makes them very
            wide with smoothly sloping flanks. Stratovolcanoes are made up of different kinds of lava, and eruptions of ash
            and rock and grow to enormous heights. Cinder cone volcanoes are usually smaller, and come from short-lived eruptions
    
    </div>
    

    <div class="item"></div>
    
    <div class="item words">
        <p class="para">About 30 km beneath your feet is the Earth’s mantle. It’s a region of superhot rock that extends down to the Earth’s
            core. This region is so hot that molten rock can squeeze out and form giant bubbles of liquid rock called magma
            chambers. This magma is lighter than the surrounding rock, so it rises up, finding cracks and weakness in the
            Earth’s crust. When it finally reaches the surface, it erupts out of the ground as lava, ash, volcanic gasses
            and rock. It’s called magma when it’s under the ground, and lava when it erupts onto the surface.</p>
    </div>
    <div class="item"></div>
    <div class="item words">
        <p class="para"> Some of the most deadly volcanoes include Krakatoa, which erupted in 1883, releasing a tsunami that killed 36,000
            people. When Vesuvius exploded in AD 79, it buried the towns of Pompeii and Herculaneum, killing 16,000 people.
            Mount Pelee, on the island of Martinique destroyed a town with 30,000 people in 1902. The most dangerous aspect
            of volcanoes are the deadly pyroclastic flows that blast down the side of a volcano during an eruption. These
            contain ash, rock and water moving hundreds of kilometers an hour, and hotter than 1,000 degrees C.</p>
    </div>
    <div class="item"></div>
    <div class="item words">
        <p class="para">The tallest volcano in the Solar System isn’t on Earth at all, but on Mars. Olympus Mons, on Mars, is a giant shield
            volcano that rises to an elevation of 27 km, and it measures 550 km across. Scientists think that Olympus Mons
            was able to get so large because there aren’t any plate tectonics on Mars. A single hotspot was able to bubble
            away for billions of years, building the volcano up bigger and bigger.</p>
    </div>
    <div class="item"></div>
</section>
<div style="position:relative;height:0;padding-bottom:56.25%">
    <iframe src="https://www.youtube.com/embed/qA8D8e34LZc?start=33&end=160" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0"
        allowfullscreen></iframe>
</div>