.dinoSection {
    overflow:hidden;
}

.trex {
    background: url("../images/t-rex.png");
    height: 120px;
    width: 130px;
    z-index: 4;
    position: absolute;
    right: 21%;
    // top:80%;
    bottom: 35px;
}

.stego {
    background: url("../images/stegosaurus.png");
    height: 120px;
    width: 130px;
    z-index: 4;
    position: absolute;
    left:33%;
    // top:80%;
    bottom: 35px;
    transform: scale(-1, 1);
}
    

.tri {
    background: url("../images/triceratops.png");
    height: 100px;
    width: 120px;
    z-index: 4;
    position: absolute;
    right:0%;
    // top:85%;
    bottom: 20px;
    
}

.bronto {
    background: url("../images/brontosaurus.png");
    height: 120px;
    width: 120px;
    z-index: 4;
    position: absolute;
    left:130px;
    // top:82%;
    bottom: 2px;
    background-size: cover;
}

.ptero {
    background: url("../images/pterodactyl.png");
    height: 110px;
    width: 120px;
    position: absolute;
    z-index: 4;
    left: -2%;
    // top:20%;
    top: 150px;
    background-size: cover;
    transform: rotate(50deg);
}

.dinoVol {
    background: url("../images/dinoVolcano.png");
    height: 180px;
    width: 180px;
    z-index: 4;
    right: 7%;
    bottom: 25px;
    // top:72%;
    position: absolute;
    background-size: cover;
}


#clouds, #sky, #night, #stars{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
}
#sky{
    background:#fff url(../images/sky.png) repeat-x top left;
    z-index:1;
}
#sun_yellow{
    position:absolute;
    left:45%;
    top:50%;
    width:150px;
    height:152px;
    background:transparent url(../images/sun.png) no-repeat center center;
    z-index:2;
}
#sun_red{
    position:absolute;
    left:45%;
    top:50%;
    width:150px;
    height:152px;
    background:transparent url(../images/sun2.png) no-repeat center center;
    z-index:2;
    opacity:0;
   
}
#clouds{
    background:transparent url(../images/clouds.png) repeat-x top left;
    z-index:3;
}
#ground{
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:632px;
    background:transparent url(../images/ground.png) repeat-x bottom center;
    z-index:3;
}



#night{
    background-color:#000;
    z-index:6;
    opacity:0;
   
}
#stars{
    bottom:200px;
    background:transparent url(../images/stars.png) repeat bottom center;
    z-index:7;
    opacity:0;
  
}
#sstar{
    position:absolute;
    left:40%;
    top:10%;
    width:126px;
    height:80px;
    background:transparent url(../images/shootingstar.png) no-repeat 80px -200px;
    z-index:7;
    opacity:0;
   
}
#moon{
    position:absolute;
    left:45%;
    top:70%;
    width:168px;
    height:168px;
    background:transparent url(../images/moon.png) no-repeat center center;
    z-index:8;
    opacity:0;
    
}

