$large-font: 'Muli';
$small-font: 'Playfair Display';



.topSection {
  width: 100%;
  height: 80vh;
  background: url("../images/bolide1.jpg") no-repeat center;
  background-size: cover;
}

.area{
font-size: 12em;
width: 50%;
font-weight: bold;
font-family: $large-font;
color: #717171;
}

.area:hover {
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

.greyBarOneFb {
    background: url("../images/footerpic.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 20vh;
    
}

//---------------------------

.fireballFacts {
  height: 110vh;
  width: 100%;
  background: url("../images/grey.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-around;

}

.factLabel {
  font-size: 10em;
  margin-right: 100px;
  margin-top: 80px;
}

h1 span {
  display: block;
}

* {box-sizing:border-box}


.slideshowFireball{
  // max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
    margin-top: 80px;
    box-shadow: 0 0  60px 15px #888888;
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: $small-font;
}


.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 30px;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

//____________________________


.keyBox{
    width: 80%;
    height: 400px;
    // background: linear-gradient(white, #8d8d8d);
    background: white;
    color: #717171;
    font-size: 36px;
    text-align: center;
    margin-left: 150px;
    font-family: $small-font;
    margin-bottom: 60px;
    // margin-top: -300px;
}

.top {
  // padding-top: 20px;
  text-align: justify;
}


.scrollChart {
  margin-top: 100px;
  overflow: auto;
  white-space: nowrap;

}

.chart-wrapper {
    height: 100vh;
    width: 98vw;
    
}

#myChart {
  width: 100%;
  height: 80vh;
}

.bottomPic {
  width: 100%;
  height: 80vh;
  background: url("../images/fireball.jpg") no-repeat center;
  background-size: cover;
  border: 20px solid rgba(245,152,29,0.4);
}

.greyBarFourFb {
  width: 100%;
    height: 20vh;
    background: #3a3a3a;
}