

$large-font: 'Muli';
$small-font: 'Playfair Display';


.earth {
    width: 100%;
    height: 95vh;
    background: url("../images/earth.jpg") no-repeat center;
    background-size: cover; 
}


.greyBarOne {
    background: url("../images/footerpic.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 150px;
}

//--------------------------

.firstGreyTriangle {
    width: 100%;
    height: 40vh;
    border-style: solid;
    border-width: 0 1300px 800px 0;
    border-color: transparent darkgrey transparent transparent ;
    // opacity: .7;
    position: absolute;
} 

.volcanoText {
    color: #3a3a3a;
    width: 600px;
    height: 600px;
    font-size: 40px;
    text-align: justify;
    margin-top: 150px;
    line-height: 120%;
    z-index: 12;
    margin-left: 170px;
    position: absolute;
    font-family: $small-font;
  
}

.firstBlueTriangle {
    width: 100%;
    height: 40vh;
    border-style: solid;
    border-width: 800px 800px 0 0;
    border-color: lightblue transparent transparent transparent;
    z-index: 0;
   
}

.lavaPic {
    z-index: 12;
    width: 500px;
    height: 500px;
    background-image: url("../images/lava_cooling.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
    margin-left: 910px;
    opacity: 0;
    transition: 2s;

}

.lavaPic:hover {
    opacity: 1;
}

//---------------------------
.greyBarHome {
    background: #212121;
    width: 100%;
    height: 150px;
}

.midSection {
    background-image: url('../images/blueTriangle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    display: flex;
    
}

.blue {
    width: 50%;
    height: 100%;
    // background-color: blue;
}

.blue img {
    width: 500px;
    height: 500px;
    margin-top: 150px;
    margin-left: 190px;
    opacity: 0;
    transition: 2s;

}

.blue img:hover {
    opacity: 1;
}

.red {
    width: 50%;
    height: 100%;
   
}

.red p {
    width: 600px;
    height: 600px;
    font-size: 40px;
    text-align: justify;
    line-height: 120%;
    color: #3a3a3a;
    font-family: $small-font;
    margin-top: 160px;
    margin-left: 40px;
}


// .greyTriangle {
//     width: 100%;
//     height: 40vh;
//     border-style: solid;
//     border-width: 800px 0 0 1300px;
//     border-color: transparent transparent transparent darkgrey;
//     // opacity: .7;
//    position: absolute;
// }


.fireballText {
    color: #3a3a3a;
    width: 100%;
    height: 600px;
    font-size: 40px;
    text-align: justify;
    margin-top: 150px;
    line-height: 120%;
    z-index: 22;
    margin-left: 100px;
    position: absolute;
    font-family: $small-font;
    display: flex;
  
}

// .blueTriangle {
//     width: 100%;
//     height: 40vh;
//     border-style: solid;
//     border-width: 0 0 800px 800px;
//     border-color: transparent transparent lightblue transparent;
//     z-index: 0;
//     // position: relative; 
   


// .firePic {
    // z-index: 20;
    // width: 500px;
    // height: 500px;
    // background-image: url("../images/fireball2.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 500px 500px;
    // margin-top: 150px;
    // margin-left: 140px;
   
// }

//-----------------------------

.parallax {
    background-image: url("../images/volcano17.jpg");
    height: 85vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: .3;
    z-index: 10;
    width: 100%;
    height: 100%;
    // align-items: center;
}

.greybar {
    width: 100%;
    height: 150px;
    // background: linear-gradient(black, #4b4b4b);
    background: black;
    opacity: .8;
    /*background-color: #4b4b4b;*/
    color: #3a3a3a;
    /*color: white;*/
    font-size: 5em;
    font-family: $large-font;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-top: 10px solid black;*/
     text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);

}

.apodSection {
    display: flex;
    flex-direction: row;
    /*border: 19px solid #f4e894;*/
    border: 19px solid lightblue;
    
}

.descriptionBox {
    height: 90vh;
    width: 35%;
    background-color: darkgrey;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    font-family: $small-font;
    font-size: 14px;
    line-height: 250%;
    letter-spacing: 2px;
    font-weight: bold;
   
}



.apod {
    height: 90vh;
    width: 65%; 
}